---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="header">
	<div class="container">
		<a href=""><img class="header__logo" src="img/logo.png"></a>
		<p class="header__tagline">&nbsp;&nbsp;Сеть турагенств<br> «Солнце в кругу» </p>
		<a href=""><img class="header__instagram" src="img/instagram.png"  ></a>
		<a href=""><img class="header__google" src="img/google.png"  ></a>
		<a href=""><img class="header__facebook" src="img/facebook.png"  ></a>
		<p class="header__back-call"><a href="">обратный звонок</a></p>
		<h2 class="header__phone"><a href="">044 123-45-67</a></h2>
		
	</div>
</div>
<div class="hero">
	<div class="container">
		<img src="img/big-photo.png" class="hero__big-photo">
		<div class="hero__plushka plushka">
			<h4 class="plushka__title">Тур <br> в Созополь,<br>  Болгария</h4>
			<p class="plushka__cod"><strong>КОД ТУРА</strong></p>
			<p class="plushka__number">3094119</p>
		</div>
		<div class="hotel">
			<div class="hotel__name-hotel name-hotel">
				<h3 class="name-hotel__Aquamarine" ><a href="">Aquamarine hotel</a></h3>
				<img class="name-hotel__star" src="img/star.png">
				<img class="name-hotel__star" src="img/star.png">
				<img class="name-hotel__star" src="img/star.png">
				<h3 class="name-hotel__pay">$256</h3>
			</div>
			<div class="hotel__ranked ranked">
				<p class="ranked__reviews"><strong><t>Оценка отеля</t></strong><br><strong>45 отзывов</strong> </p>
				<p class="ranked__number">8.4</p>
				<p class="ranked__criteria"><strong><t>НОМЕР</t></strong> <br> <strong>8.9</strong></p>
				<p class="ranked__criteria"><strong><t>ПИТАНИЕ  </t></strong> <br> <strong>8.1</strong></p>
				<p class="ranked__criteria"><strong><t>СЕРВИС  </t></strong> <br> <strong>7.9</strong></p>
				<p class="ranked__criteria"><strong><t>ИФРАСТРУКТУРА  </t></strong> <br> <strong>8.9</strong></p>
			</div>
		</div>
		<div class="day-year">
			<p class="day-year__320">320</p>
			<p class="day-year__year">солнечных  <br>дней в году</p>
		</div>
	</div>
</div>
<div class="extrim">
	<div class="container">
		<div class="extrim__block-left">
			<img src="img/extrim1.png" alt="">
			<div class="extrim__text-block">
				<p class="extrim__pay">$987</p>
			<h3 class="extrim__title"><a href="">Шелковый путь</a></h3>
			<br>
			<p class="extrim__tagline">Экстремальный маршрут</p>
			
			</div>
		</div>
		<div class="extrim__block-right">
			<img src="img/extrim2.png" alt="">
			<div class="extrim__text-block">
				<p class="extrim__pay">$59</p>
			<h3 class="extrim__title"><a href="">Не дай Бог не любишь</a></h3>
			<br>
			<p class="extrim__tagline">Роупджампинг</p>
			<br>
			<p class="extrim__discount">$90</p>
			
			</div>

		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="content__block-left">
			<H1 class="content__title">36,6 градусов по цельсию и познавательная физика</H1>
			<p class="content__text">
				<br>
				<strong>Никто не задумывался почему температура человеческого тела 36,6 С? Почему не иная? Почему не равна дневной температуре окружающего пространства к примеру? Но почему так произошло? Первая причина лежит от нас на временной оси в прошлом на расстоянии в несколько миллиардов лет. Именно тогда появилась жизнь.</strong>
				<br>
				<br>
				<t>
					Грубо говоря первичные репликаторы огородились защитной оболочкой от остальной части океана — создав клетки. Клетки это замкнутые водные резервуары, в которых вся жизнедеятельность проходит в водной среде. И все сухопутные организмы концептуально это машины выживания репликаторов, мобильная (в случае с животными), благоприятная водная среда для репродукции, окруженная защитной оболочкой от внешнего мира.
				</t>
				<br>
				<br>
				<h4>Ищем ответ</h4>
				
				<t> Что интересно, все теплокровные функционируют в пределах той же области температур что и человек.
Например температура у лошадей 37,5-38,5; у коров 37,5-39,5; кур 40,5-42,5; свиней 39,0-40,0; кошек 38,0-39,5; обезьян 38,1; голубей 41,0-44,0. Ответ лежит в области нет, не биологии. А в области физики воды.
				</t>
				<br>
				<br>
				<p class="content__blue-text">
					Дело в том, что теплоемкость воды нелинейно зависит от температуры. Теплоемкость это количество энергии, которое необходимо потратить для того что бы нагреть 1 кг вещества на 1 градус. При увеличении температуры она как бы пикирует как штурмовик, и возносится ввысь после прохождения нижней точки в 36,8 градусов Цельсия. В организме человека вода составляет около 65-70%, её теплоемкость огромна. 
				</p>
				<br>
				<t> 
					90% энергии получаемой с пищей, теплокровные потому тратят только лишь на поддержание постоянной температуры внутренней среды. На нагревание воды. Потому эта ямка, минимум, в котором нужно было тратить минимальное количество энергии на поддержание своего состояния, как аттрактор, стягивал на себя на протяжении эволюции все «модели» теплокровных. Фенотипы, с рабочей температурой иных диапазонов были слишком «прожорливыми» и отсеивались отбором.
				</t>
				<br>
				<br>
				<h5>Хлорофилл и красота</h5>
				<t> 
					Могло случится так что небо было бы ядовито-желтое а не голубое. Трава так же красная. Нравился бы нам такой пейзаж? Почему красный, ярко-желтый, создают чувство неспокойствия и не подходят для идилических райских картин ландшафтов как голубой и зеленый? Дело не в них а в нас. Мы продукт эволюции, продукт среды в которой мы развивались. Что и было показано на примере температуры тела.
					<br>
					<br>
					Начну с далека, так уж нужно, ничего не поделаешь… Зеленым цветом на картинке окрашена трава, трава это растение. Первыми вышли задолго до животных на сушу растения. Они сформировали то первичное окружение для живых организмов, создали им условия существования на суше. Стали источником пищи и крова, ведь животные гетеротрофы. Растения же в основном автотрофы. Так вышло что у растений при участии хлорофилла осуществляется процесс фотосинтеза. А по совместительству он так же зелёный пигмент, обусловливающий окраску хлоропластов растений в зелёный цвет.
					<br>
					<br>
					Так же интересна физическая причина наших понятий красоты.

				</t>
				<br>

<table class="content__table">
<tr class="content__hlor"><th></th><th> Хлорофилл a</th><th> Хлорофилл b</th><th>Хлорофилл c1</th><th>Хлорофилл c2</th><th> Хлорофилл cd	</th></tr>
<tr class="content__formula" ><td>Формула</td><td>C<sub>55</sub>H<sub>72</sub>O<sub>5</sub>N<sub>4</sub>Mg</td><td>C<sub>55</sub>H<sub>70</sub>O<sub>6</sub>N<sub>4</sub>Mg	</td><td>C<sub>35</sub>H<sub>30</sub>O<sub>5</sub>N<sub>4</sub>Mg</td><td>C<sub>35</sub>H<sub>28</sub>O<sub>5</sub>N<sub>4</sub>Mg</td><td>C<sub>54</sub>H<sub>70</sub>O<sub>5</sub>N<sub>4</sub>Mg</td></tr>
<tr class="content__formula"><td>C2 группа</td><td>-CH<sub>3</sub></td><td>-CH<sub>3</sub></td><td>-CH<sub>3</sub>	</td><td> -CH<sub>3</sub></td><td>  -CH<sub>3</sub></td></tr>
<tr class="content__formula"><td>C3 группа</td><td>-CH=CH<sub>2</sub></td><td> -CH=CH<sub>2</sub></td><td> -CH=CH<sub>2</sub></td><td> -CH=CH<sub>2</sub></td><td> -CHO</td></tr>
</table>

			</p>
			<t>
				Как найти эти консервативные признаки? Наиболее часто рассматривают 5 источников информации о них:<br>
— эмбриологические исследования;<br>
— тератологические данные;<br>
— сравнительно-морфологические данные;<br>
— анализ врожденных поведенческих программ (этологические данные);<br>
— изучение взаимосвязи с другими видами.<br>
			</t>
			<br>
			<h2>Я потратил на этот макет: 5-6 часов</h2>
		</div>
		<div class="content__block-right">
			<p class="content__percent">0,71</p>
			<p class="content__whr">WHR здоровой <br>  женщины </p>
			<p class="content__hip">Один из весьма<br> надежных оказателей <br>здоровья,<br> фертильности, как<br> раз и является <br>«waistto hip ratio».</p>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<p class="footer__test">Тестовое задание на вакансию верстальщика в компанию <a class="footer__Fleeks" href="">Fleeks</a></p>
		<img src="img/instagram2.png" alt="">
		<img src="img/google2.png" alt="">
		<img src="img/facebook2.png" alt="">
	</div>
</div>
{% endblock %}
